<mat-card>
  
<table class="user-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Birth Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
    </tr>
  </tbody>
</table>

</mat-card>

<button (click)="openDialog()" mat-fab color="primary" class="add-user-btn" matTooltip="Add User" matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>
